services:
  meta-blog:
    container_name: meta-blog-co
    build:
      context: .
      args:
        - NODE_ENV=production
    environment:
      - NODE_ENV=production
    ports:
      - "3000:3000"
    volumes:
      - .:/app/src
    command: npm run dev
